body{
    font-family: 'Shippori Mincho', serif;
    text-align: center;
}

header {
    height: 40px;
    background-color: rgba(128, 128, 128, 0.082);
    color: white;
}

#header-container {
    display: flex;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
    filter: grayscale(100%);
  }