body{
    font-family: 'Shippori Mincho', serif;
    text-align: center;
}

header {
    height: 40px;
}

#header-container {
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.349);
    color: rgb(255, 255, 255);
}

.header-link {
    margin-left: 10px;
    margin-right: 10px;
}

.header-link:hover {
    text-decoration: underline;
    color:rgba(128, 128, 128, 0.65);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
    filter: grayscale(100%);
  }

.menu-item {
    padding: 15px;
}